* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

#app {
  padding: 0.5rem;
  height: 100vh;

  display: flex;
  gap: 0.5rem;
}

.sidebar {
  flex: none;

  width: 192px;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.palette {
  border: 2px solid paleturquoise;
  border-radius: 0.375rem;

  display: flex;
  flex-direction: column;
  gap: 0.25rem;

  .title {
    background-color: paleturquoise;
    font-size: 1.125rem;
    line-height: 1.75rem;
    padding: 0.25rem 0.5rem;
  }

  .items {
    display: flex;
    flex-direction: column;

    li {
      border-top: 1px solid paleturquoise;
    }

    li:first-child {
      border-top: none;
    }
  }

  .item {
    padding: 0.5rem;

    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .catno {
    font-size: 0.75rem;
    line-height: 1rem;
    margin-left: auto;
  }
}

.parts-bin {
  margin-top: auto;
  min-height: 3rem;
  border: 2px solid paleturquoise;
  border-radius: 0.375rem;

  padding: 0.5rem;

  display: flex;
  flex-flow: row wrap;
  gap: 0.375rem;
  /* align-items: center; */
  align-content: flex-start;

  .part {
    font-size: 0.65rem;
    background-color: aquamarine;
    padding: 0.25rem 0.5rem;
    border-radius: 4px;
  }
}

.main {
  flex: 1 1 0%;

  padding: 0.5rem;

  border: 2px solid paleturquoise;
  border-radius: 0.375rem;

  position: relative;
}

.container {
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
